.card {
  display: flex;
  gap: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  max-width: 700px;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 100%;
  display: flex;
  gap: 20px;
}

.description-section {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.feedbacks {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
}

.reviews {
  color: gray;
}

.actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lang {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .description-section {
    order: 1;
    align-items: center;
  }

  .info {
    flex-direction: column;
  }
}
